<button (click)="getUser()">Click</button>
<br />
<input type="text" [(ngModel)]="term" placeholder="term" />
<table border="2">
  <th>Attachment</th>
  <th>Date</th>
  <th>Department</th>
  <th>Id</th>
  <th>Name</th>
  <th>Sl.no</th>
  <th>spl_instruction</th>

  <tr
    [ngStyle]="{ color: d.spl_instruction === 'fine' ? 'red' : '' }"
    *ngFor="let d of data | filter: term"
  >
    <td>{{ d.attachment }}</td>
    <td>{{ d.date | date: mm:dd:yyyy }}</td>
    <td>{{ d.department }}</td>
    <td>{{ d.id }}</td>
    <td>{{ d.name.toUpperCase() }}</td>
    <td>{{ d.sno }}</td>
    <td>
      {{ d.spl_instruction }}
    </td>
  </tr>
</table>

<ul>
  <li *ngFor="let d of data">
    {{ d | json }}
  </li>
</ul>
